body{
font-family:Arial;
margin:0;
padding:0;
background:#f4f4f4;
text-align:center;
}

header{
background:#222;
color:white;
padding:20px;
}

.intro-section{
display:flex;
justify-content:center;
align-items:center;
gap:40px;
padding:40px;
}

.intro-image img{
width:250px;
border-radius:10px;
}

.intro-text{
max-width:400px;
}

.gallery-title{
margin-top:20px;
}

/* SLIDER */

.slider-container{
position:relative;
width:85%;
margin:auto;
overflow:hidden;
}

.image-slider{
display:flex;
overflow-x:auto;
scroll-behavior:smooth;
gap:20px;
padding:20px;
}

.image-slider::-webkit-scrollbar{
display:none;
}

.image-slider img{
width:250px;
height:160px;
border-radius:10px;
transition:transform 0.3s;
}

.image-slider img:hover{
transform:scale(1.1);
}

/* BUTTONS */

.slide-btn{
position:absolute;
top:50%;
transform:translateY(-50%);
background:rgba(0,0,0,0.6);
color:white;
border:none;
font-size:30px;
padding:10px 15px;
cursor:pointer;
border-radius:50%;
}

.left{
left:10px;
}

.right{
right:10px;
}

/* BOX SECTIONS */

.details,.address-section{
display:flex;
justify-content:center;
gap:40px;
padding:30px;
}

.box{
background:white;
padding:20px;
width:250px;
border-radius:8px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.contact{
background:white;
width:60%;
margin:30px auto;
padding:20px;
border-radius:8px;
}

footer{
background:#222;
color:white;
padding:15px;
margin-top:20px;
}